naoqi
oldnaoqi
naoqi2
naoqi-*
core.txt
*.swp
*.swo
tags
*.*~
build/*.md5sum
documentation/html
documentation/latex
documentation/dox/todo.dox
bin/sshlog
*.grepignore
*.tar.gz
logs*
*.orig
*fontconfig
*~
*.o
*.pyo
*.pyc
