OpenCV*
Python*
tmp*
*.tar.gz
*.tgz
*.xz
*.zip
hashlib*
lapack*
numpy*
opencv*
scipy*
BLAS*
*.pyc
boost/
qmake32/
linux64-cross*
mathcalls.h
eigen-eigen*
GameController*
qibuild*
libstdc++*
qmake32
includes
naoqi-link*
*.bin
cmake-*
libpng-*
swig-*
ctc-linux64-*
glog-*
